.idea
front/node_modules
front/target
front/public/js
front/public/out

front/.clj-kondo
front/.clj-kondo/*
front/.lsp
front/.cpcache


back/Library/target
back/MarineService/target
back/StarshipService/target
